  <nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="right">
        <li><button class="savedArticles left">Saved Articles</button></li>
        <li><button class="currentArticles right">Current Articles</button></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <h1 class="center">Up Game News!</h1>
    <h2 class="center"><i>News for games, movies, and more!</i></h2>
    <div class="row">
      <div id="articles" class="col m12"></div>
    </div>
  </div>